configuration {
	modi: "drun,run";
	display-combi: "true";
	font: "JetBrains Mono 10";
}
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
